@model MessageChatApp.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid h-100">
		<div class="row justify-content-center h-100">
			<div class="col-md-5 col-xl-5 chat">
				<div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">

					<div class="wrapper-tabs">
						<input type="radio" name="slider" checked id="home">
						<input type="radio" name="slider" id="blog">
						<nav>
							<label for="home" class="home">Messages</label>
							<label for="blog" class="blog">Friends</label>

							<div class="slider"></div>
						</nav>
						<section>
							<div class="content all-friends">
								<ui class="contacts">
									@if (Model != null)
									{
										foreach (var item in Model.UsersWith)
										{
											if (item != null)
											{
												<li class="active">
													<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RediToChat" asp-route-id="@item.UserId">
														<div class="d-flex bd-highlight">
															<div class="img_cont">
																<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
																<span class="online_icon"></span>
															</div>
															<div class="user_info">
																<span>@item.UserName</span>
																<p>Kalid is online</p>
															</div>
														</div>
													</a>
												</li>
											}
										}
									}
									else
									{
										<p>No users available.</p>
									}

									@* <li>
									<div class="d-flex bd-highlight">
									<div class="img_cont">
									<img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
									<span class="online_icon offline"></span>
									</div>
									<div class="user_info">
									<span>Taherah Big</span>
									<p>Taherah left 7 mins ago</p>
									</div>
									</div>
									</li> *@

								</ui>
							</div>
							<div class="content all-messages">
								<ui class="contacts">
									@if (Model != null)
									{
										foreach (var item in Model.Users)
										{
											if (item != null)
											{
												<li class="active">
													<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RediToChat" asp-route-id="@item.UserId">
														<div class="d-flex bd-highlight">
															<div class="img_cont">
																<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
																<span class="online_icon"></span>
															</div>
															<div class="user_info">
																<span>@item.UserName</span>
																<p>Kalid is online</p>
															</div>
														</div>
													</a>
												</li>
											}
										}
									}
									else
									{
										<p>No users available.</p>
									}

									@* <li>
									<div class="d-flex bd-highlight">
									<div class="img_cont">
									<img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
									<span class="online_icon offline"></span>
									</div>
									<div class="user_info">
									<span>Taherah Big</span>
									<p>Taherah left 7 mins ago</p>
									</div>
									</div>
									</li> *@

								</ui>
							</div>

						</section>
					</div>

					</div>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="col-md-7 col-xl-6 chat">
				<div class="card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="img_cont">
								<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
								<span class="online_icon"></span>
							</div>
							<div class="user_info">
							<span>Hello @Model.CurrentUserName</span>
								@* <p>1767 Messages</p> *@
							</div>
							@* <div class="video_cam">
								<span><i class="fas fa-video"></i></span>
								<span><i class="fas fa-phone"></i></span>
							</div> *@
						</div>
						<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
						<div class="action_menu">
							<ul>
								<li><i class="fas fa-user-circle"></i> View profile</li>
								<li><i class="fas fa-users"></i> Add to close friends</li>
								<li><i class="fas fa-plus"></i> Add to group</li>
								<li><i class="fas fa-ban"></i> Block</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
